<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>A List of All Available Reviews</title>
    <link rel="stylesheet" href="styles/ReviewsStyles.css">
</head>
<div class="container">

<header class="header">
    <h1>Budget To Mid-Range Spinning Reels For Freshwater</h1>
</header>

<main>

    <article class="image__wrapper">
        <img class="fishing" src="images/fishing.jpg" alt="fishing">
    </article>
    <h2 class="reviews__heading">
        <span>Products</span>
    </h2>
    <h3> Click on product name for the review</h3>
    <ul class="reviews__list">
        <li th:each="review: ${reviewsModel}"><a  th:href="@{/review(id=${review.id})}" class="product"th:text="${review.title}"></a></li>
    </ul>
</main>

<footer class="footer">
    <section class="copyright">
        &copy Zachary D. Martin 2022
    </section>
</footer>

</div>
</html>