*{
    box-sizing: border-box;
    margin: 1;
    padding: 0;
}

html{
    color: #000000;
    font: 18px/1.618 sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color:#40E0D0;
    margin: 1rem auto;
    max-width: 100rem;
    width: 90%;
    box-shadow: 10px 10px;
}

header {
    display:flex;
    justify-content:center;
}
.product__name {
    font-size: 30px;
    display: inline-block;
    padding: 15px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
}

.image__wrapper{
    display:flex;
    justify-content:center;
    margin-top:30px;
    margin-bottom:30px;
}

.product__image {
    height: auto;
    max-width:20rem;
    border-radius: 60px;
    border: white 5px solid;
}

.product__review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display:inline-block;
    margin-top:30px;
    margin-bottom:30px;
    font-size:20px;
    padding: 15px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
}

.content__heading {
    display: inline-block;
    margin-top:30px;
    margin-bottom:30px;
    font-size:30px;
    padding: 15px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
}

.review__description {
    display:inline-block;
    font-size:20px;
    padding: 15px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
    max-width:20rem;
    text-align:center;
}

.rating {
    display:inline-block;
    font-size:20px;
    padding: 15px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
}

.home__button{
    list-style-type: none;
    text-align:center;
    text-decoration: none;
    font-size:20;
    color:black;
}

.home__button:hover{
    padding:10px;
    border-radius: 60px;
    border: white 5px solid;
    background: #FFBF00;
    transition: 1s;
}







